.App {
  text-align: center;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bear {
  color: #d3e3fc;
  background: #222629;
  min-height: 20vh;
  font-family: 'Open Sans', 'sans-serif';
}

.dogHead {
  color: #222629;
  background: linear-gradient(180deg, #86c232 0%,#61892f 100% );
  border-bottom: none;
  margin-bottom: 0;
  margin-top:0;
  font-family: 'Open Sans', 'sans-serif'
}



.fish{
  color: #17252a;
  background-color: #86c232;
  display:block;
  height: 50px;
  width: 80px;
  border-radius: 12px;
}

.spacer{
  height: 10px;
  width: 80px;
}

.yeeter{
  max-width: 100%;
}

.links{
  width: 40px;
  height: 40px;
}

.yeet{
  float: right;
}

.footer {
  background: linear-gradient(180deg, #61892f 0%,#86c232 100% );
  height: 60px;
  
  /* margin: 10px 0 0; */

  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
}

.footer-logo-container {
  margin-left: 20px;
}

.footer-logo {
  font-size: 25px;
  color: #222629;
  text-decoration: none;
}

.copywrite-containter {
  margin-right: 20px;
  color: #222629;
}

